@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$title-font: "Trebuchet MS";

$spacing-unit:     30px !default;

$text-color:       #3D3B3B !default;
$background-color: #fdfdfd !default;
$brand-color:      #1abb9c !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    960px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

body {
  background-color: #e5e5e5;
}

header {
  background-color: #e5e5e5;
  padding:20px 0;
}


header .site-title {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $title-font;
}

header .site-title:hover {
  color: $brand-color;
}

.site-header {
  border-top: 0;
}
.site-nav a {
  text-decoration: none;
  color: #4e4e4e;
  text-transform: uppercase;
  font-weight: bold;
}

.site-nav a:hover {
  background-color: $brand-color;
  padding: 35px 8px;
  color:white;
}

#main-banner{
  padding-bottom: 100px;
  overflow: hidden;
  background: url('../assets/evelina4.jpg') no-repeat center;
  background-size: auto 100%;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 300px;
  }

  #main-banner h1, h3 {
  color: #999;
  text-transform: uppercase;
}

#main-banner h1 {
   position: absolute;
   top: 420px;
  left: 0px;
  width: 100%;
   font-size: 40px;
   color:#f2f2f2;
   font-family: $title-font;
}

#main-banner h3 {
  position: absolute;
  font-size: 25px;
  color: $brand-color;
  top: 490px;
  left: 0px;
  width: 100%;
  font-family: $title-font;
}

#main-banner span {
  font: bold 24px/45px;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  padding-left: 50px;
}

#about {
  margin-top:0;
  width:60%;
  padding:30px 20%;
  background-color: #e5e5e5;
  color:#4e4e4e;
  font-size:20px;
  line-height: 1.6em;
  text-align: center;
}

#about blockquote {
  padding-top: 100px;
}

.img-circle {
  border-radius: 50%;
  margin-top: 50px;
}

.home {
  padding-bottom: 50px;
}

.post-header {
  text-align: center;
  text-transform: uppercase;
  font-family: $title-font;
  color: $brand-color;
}

footer {
  background-color: $text-color;
}